<header>
  <div id="image-slider" class="slider">
      <ul id="image-slides" class="slides">
        
        <li>
          <img src="/assets/imgs/slider/nature1.jpg" />
          <div class="caption center-align">
            <p class="title">Sky is the limit!</p>
            <p class="slogan">Here's our small slogan.</p>
          </div>
        </li>

        <li>
          <img src="/assets/imgs/slider/nature2.jpg" />
          <div class="caption left-align">
            <p class="title">Life is a journey!</p>
            <p class="slogan">Here's our small slogan.</p>
          </div>
        </li>

        <li>
          <img src="/assets/imgs/slider/nature3.jpg" />
          <div class="caption left-align">
            <p class="title">Dreams comes true</p>
            <p class="slogan">Here's our small slogan.</p>
          </div>
        </li>

        <li>
          <img src="/assets/imgs/slider/nature4.jpg" />
          <div class="caption left-align">
            <p class="title">Do just what you want to!</p>
            <p class="slogan">Here's our small slogan.</p>
          </div>
        </li>

        <li>
          <img src="/assets/imgs/slider/nature5.jpg" />
          <div class="caption left-align">
            <p class="title">Life is a journey!</p>
            <p class="slogan">Here's our small slogan.</p>
          </div>
        </li>

      </ul>
  </div>
  <div class="row hoverable" (click)="scrollToContent()">
    <img class="responsive-image" src="/assets/imgs/logo/travelbest.png" alt="No Image" />
    <span>TRAVELBEST</span>
  </div>
</header>