<nav class="user-navbar green darken-2 hoverable">
  <ul class="right">

    <li class="waves-effect">
      <a routerLink="trips" [routerLinkActive]="['is-active']">
        <span class="material-icons">list</span>
        <span class="hide-on-small-only">Trips</span>
      </a>
    </li>

    <li class="waves-effect">
      <a routerLink="orders" [routerLinkActive]="['is-active']">
        <span class="material-icons">shopping_cart</span>
        <span class="hide-on-small-only">Orders</span>
        <span *ngIf="hasAnyOrders()" class="new badge">{{getNumberOfOrders()}}</span>
      </a>
    </li>

    <li *ngIf="!authService.isAuthorized()" class="waves-effect">
      <a routerLink="login" [routerLinkActive]="['is-active']">
        <span class="material-icons">perm_identity</span>
        <span class="hide-on-small-only">Log In</span>
      </a>
    </li>

    <li *ngIf="!authService.isAuthorized()" class="waves-effect">
      <a routerLink="signup" [routerLinkActive]="['is-active']">
        <span class="material-icons">input</span>
        <span class="hide-on-small-only">Sign Up</span>
      </a>
    </li>

    <li *ngIf="authService.isAuthorized()" class="waves-effect">
      <a (click)="logout()">
        <span class="material-icons">power_settings_new</span>
        <span class="hide-on-small-only">Log Out</span>
      </a>
    </li>

  </ul>
</nav>