<!-- Header -->
<header>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="imgs/slider/nature1.jpg" />
          <div class="caption center-align">
            <h3>Sky is the limit!</h3>
            <h5>Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="imgs/slider/nature5.jpg" />
          <div class="caption left-align">
            <h3>Life is a journey!</h3>
            <h5>Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="imgs/slider/nature3.jpg" />
          <div class="caption right-align">
            <h3>Dreams comes true</h3>
            <h5>Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="imgs/slider/nature4.jpg" />
          <div class="caption center-align">
            <h3>Do just what you want to!</h3>
            <h5>Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
  </div>
</header>

<!-- Navigation -->
<nav class="user-navbar green darken-2 hoverable">
  <ul class="right">
    <li class="waves-effect" th:unless="${page} == 'home'">
      <a href="/">
        <span class="material-icons">home</span>
        <span class="hide-on-small-only">Home</span>
      </a>
    </li>
    <li class="waves-effect" th:unless="${page} == 'trips'">
      <a href="trips">
        <span class="material-icons">list</span>
        <span class="hide-on-small-only">Trips</span>
      </a>
    </li>
    <li class="waves-effect" th:unless="${page} == 'orders'">
      <a href="orders">
        <span class="material-icons">shopping_cart</span>
        <span class="hide-on-small-only">Orders</span>
      </a>
    </li>
    <li class="waves-effect">
      <a class="modal-trigger" href="#login">
        <span class="material-icons">perm_identity</span>
        <span class="hide-on-small-only">Log In</span>
      </a>
    </li>
    <li class="waves-effect">
      <a class="modal-trigger" href="#signup">
        <span class="material-icons">input</span>
        <span class="hide-on-small-only">Sign Up</span>
      </a>
    </li>
  </ul>
</nav>

<!-- Admin Navigation Bar -->
<nav class="admin-navbar green darken-2 hoverable">
  <ul class="right">
    <li class="waves-effect" th:unless="${page} == 'edit-finance'">
      <a href="/edit/finance">
        <span class="material-icons">trending_up</span>
        <span class="hide-on-small-only">Finance</span>
      </a>
    </li>
    <li class="waves-effect" th:unless="${page} == 'edit-routes'">
      <a href="/edit/routes">
        <span class="material-icons">open_with</span>
        <span class="hide-on-small-only">Routes</span>
      </a>
    </li>
    <li class="waves-effect" th:unless="${page} == 'edit-trips'">
      <a href="/edit/trips">
        <span class="material-icons">list</span>
        <span class="hide-on-small-only">Trips</span>
      </a>
    </li>
    <li class="waves-effect" th:unless="${page} == 'edit-orders'">
      <a href="/edit/orders">
        <span class="material-icons">shopping_cart</span>
        <span class="hide-on-small-only">Orders</span>
      </a>
    </li>
    <li class="waves-effect" th:unless="${page} == 'edit-guides'">
      <a href="/edit/guides">
        <span class="material-icons">supervisor_account</span>
        <span class="hide-on-small-only">Guides</span>
      </a>
    </li>
    <li class="waves-effect">
      <a class="modal-trigger" href="#logout">
        <span class="material-icons">power_settings_new</span>
        <span class="hide-on-small-only">Log Out</span>
      </a>
    </li>
  </ul>
</nav>

<!-- Login Modal -->
<div id="login" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
  </div>
  <div class="modal-footer">
    <form action="/login" method="POST">
      <input class="input-data" type="email" name="email" placeholder="Your email" required="required" />
      <input class="input-data" type="password" name="password" placeholder="Your password" required="required" />
      <div class="btn-box">
        <input class="btn green darken-2 waves-effect" type="submit" />
        <button class="btn green darken-2 waves-effect">
          Reset
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Signup Modal -->
<div id="signup" class="modal">
  <div class="modal-content">
    <h4>Sign Up</h4>
  </div>
  <div class="modal-footer">
    <form action="/signup" method="POST">
      <input class="input-data" type="email" name="email" placeholder="Your email" required="required" />
      <input class="input-data" type="password" name="password" placeholder="Your password" required="required" />
      <div class="btn-box">
        <input class="btn green darken-2 waves-effect" type="submit" />
        <button class="btn green darken-2 waves-effect">Reset</button>
      </div>
    </form>
  </div>
</div>

<!-- Page footer -->
<footer class="page-footer green darken-2">
  &copy; Copyrights 2016 All rights reserved Made By SAKA7
</footer>