<div class="login hoverable">
  
  <div class="center">
    <i class="material-icons medium">account_circle</i> 
    <h1>LOG IN</h1>
  </div>

  <form>
    <div class="input-field">
      <i class="material-icons prefix">person_outline</i>
      <input
        [(ngModel)]="username"
        class="input-data"
        type="text"
        name="username"
        placeholder="Your username"
        required="required" />
    </div>
    
    <div class="input-field">
      <i class="material-icons prefix">vpn_key</i>
      <input
        [(ngModel)]="password"
        class="input-data"
        type="password"
        name="password"
        placeholder="Your password"
        required="required" />
    </div>
    
    <div class="btn-box">
      <button (click)="reset()" class="btn-large green darken-2 waves-effect">
        Reset
      </button>
      <button (click)="signIn()" class="btn-large green darken-2 waves-effect">
        Submit
      </button>
    </div>

  </form>
</div>