.container {
	min-height: 100%;
}

table {
	margin-top: 5%;
	padding: 10px;
	transition: all 0.5s ease-in-out;
}

th {
	border-radius: 0;
}

thead {
	background-color: #FAFAFA;
}

tbody tr {
	transition: all 0.1s ease-in-out;
}

tbody tr:nth-child(even) {
	background-color: white;
}

tbody tr:nth-child(odd) {
	background-color: #E1E1E1;
}

tbody tr:hover {
	background-color: #333333;
	color: #F4F4F4;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

#order-id {
	max-width: 100px;
}

#customer {
	max-width: 200px;
}