nav {
	position: fixed;
	top: 0;
	z-index: 5;
}

form {
	max-width: 80%;
	margin-left: 10%;
}

.btn {
	padding: 0;
	height: 40px;
}

.modal-content {
	background-image: url('../imgs/crossword.png');
	height: 95%;
}

.card-action > button {
	width: 50px;
	height: 40px;
}

.modal-footer i.btn {
	width: 80px;
	margin-left: 5px;
}

.choose-image  {
	width: 80px;
}

.modal-footer input {
	margin-bottom: 8px;
}

i.btn.green.darken-2.waves-effect.waves-input-wrapper {
	margin-left: 5px;
}

#add {
	bottom: 20px;
	right: 25px;
}

#add a:hover {
	transform: scale(1.1);
	font-weight: bold;
	font-size: 1.2rem;
	transition: all .2s ease-in-out;
}

#add-route img.responsive-image {
	width: 100%;
}

#delete-route {
	max-width: 50%;
}

#delete-route p {
	text-align: center;
	font-size: 1.6rem;
}