#lineChart, #barChart, #radarChart, #pieChart {
	width: 100%;
	height: 500px;
	margin-top: 10px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 10px;
	padding: 10px;
}

#lineChart {
	margin-top: 50px;
}