table {
	background-image: url('../imgs/crossword.png');
	padding: 5px;
	border-radius: 5px;
}


table tbody tr {
	transition: all 0.3s ease-in-out;
}

table tbody tr:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
	cursor: row;
	transition: all 0.3s ease-in-out;
}