<!DOCTYPE html>
<html>
<head>
<title>Travel Best - Not Paid</title>
<link rel="shortcut icon" type="image/png"
	href="imgs/logo/travelbest.png" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/vendor/materialize.css" />
<link rel="stylesheet" type="text/css" href="css/not-paid.css" />
</head>

<body>
	<header th:replace="layout/components :: header"></header>

	<div class="container">
		<div class="row">
			<div class="col s8">
				<div class="card grey darken-4 hoverable">
					<div class="card-image">
						<img src="imgs/paid.jpg" />
					</div>
					<div class="card-content">
						<p>Site will not be working until you pay for it. You can
							check price in agreement. If you already paid for using but site
							still not working please contact us.</p>
					</div>
					<div class="card-action">
						<button type="button"
							class="green darken-2 waves-effect btn-large hoverable">
							<i class="shop right"></i> Pay
						</button>
						<button type="button"
							class="green darken-2 waves-effect btn-large hoverable">
							<i class="chat right"></i> Contact US
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/components :: footer"></footer>

	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/materialize.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
