<!DOCTYPE html>
<html>
<head>
  <title>Travel Best - orders</title>
  <link rel="shortcut icon" type="image/png" href="imgs/logo/travelbest.png"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" href="css/orders.css" />
  <link rel="stylesheet" type="text/css" href="css/vendor/materialize.css" />
</head>

<body>
  <header th:replace="layout/components :: header"></header>
  <nav th:replace="layout/components :: nav"></nav>
  <div th:replace="layout/components :: #login"></div>
  <div th:replace="layout/components :: #signup"></div>

  <div class="container">
    <article>
      <img src="imgs/shopping-cart.svg" alt="No Image" />
      <h3>Your shopping card is empty</h3>
      <p>For now you do not have any purchase. Back here after you make one.</p>
    </article>
  </div>

  <footer th:replace="layout/components :: footer"></footer>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/jquery.nicescroll.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/materialize.js"></script>
  <script src="js/main.js"></script>
</body>
</html>