<!DOCTYPE html>
<html ng-app="orders" ng-controller="ordersCtrl">
<head>
<title>Travel Best - orders</title>
<link rel="shortcut icon" type="image/png"
	href="imgs/logo/travelbest.png" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/vendor/materialize.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" href="css/orders.css" />
</head>

<body>
	<header th:replace="layout/components :: header"></header>
	<nav th:replace="layout/components :: .user-navbar"></nav>
	<div th:replace="layout/components :: #login"></div>
	<div th:replace="layout/components :: #signup"></div>

	<div class="container">

		<!-- Empty shopping card -->
		<!--     <article>
      <img src="imgs/shopping-cart.svg" alt="No Image" />
      <h3>Your shopping card is empty</h3>
      <p>For now you do not have any purchase. Back here after you make one.</p>
    </article> -->

		<!-- In Shopping card table -->
		<table class="highlight hoverable white darken-1">
			<caption>In Shopping card</caption>
			<thead>
				<tr>
					<th data-field="trip">Trip</th>
					<th data-field="price">Price</th>
					<th data-field="expiration-date">End Date</th>
					<th data-field="amount-of-tourists">Tourists</th>
					<th data-field="discard">Discard</th>
					<th data-field="approve">Approve</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="order in ordersInShoppingCard">

					<td>
						<div class="chip">
							<img ng-src="{{order.image}}" alt="No image" /> {{order.title}}
						</div>
					</td>

					<td>{{order.price}}$</td>

					<td>{{order.endDate}}</td>

					<td>
						<div class="progress">
							<div class="determinate tooltipped" data-position="bottom"
								data-delay="50" data-tooltip="{{order.tourists}}/10">
								{{order.tourists / 10}}</div>
						</div>
					</td>

					<td>
						<button class="btn green darken-2 waves-effect tooltipped"
							data-position="top" date-delay="50"
							data-tooltip="Discard purchase">
							<i class="material-icons">delete</i>
						</button>
					</td>

					<td>
						<button class="btn green darken-2 waves-effect tooltipped"
							data-position="top" data-delay="50"
							data-tooltip="Approve Purchase">
							<i class="material-icons">shop</i>
						</button>
					</td>
				</tr>

			</tbody>
		</table>

		<!-- Paid Trips Table -->
		<table class="highlight hoverable white darken-1">
			<caption>Paid Trips</caption>
			<thead>
				<tr>
					<th data-field="trip">Trip</th>
					<th data-field="price">Price</th>
					<th data-field="pay-date">Pay Date</th>
					<th data-field="expiration-date">End Date</th>
					<th data-field="amount-of-tourists">Tourists</th>
					<th data-field="reject">Reject</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="order in orders">
					<td>
						<div class="chip">
							<img ng-src="{{order.image}}" alt="No image" /> {{order.title}}
						</div>
					</td>

					<td>{{order.price}}$</td>

					<td>{{order.payDate}}</td>

					<td>{{order.endDate}}</td>

					<td>
						<div class="progress">
							<div class="determinate tooltipped" data-position="bottom"
								data-delay="50" data-tooltip="{{order.tourists}}/10">
								{{order.tourists/10}}</div>
						</div>
					</td>

					<td>
						<button class="btn green darken-2 waves-effect tooltipped"
							data-position="top" data-delay="50"
							data-tooltip="Reject Purchase">
							<i class="material-icons">delete</i>
						</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

	<footer th:replace="layout/components :: footer"></footer>

	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/angular.js"></script>
	<script src="js/vendor/materialize.js"></script>
	<script src="js/main.js"></script>
	<script src="js/controller/ordersCtrl.js"></script>
</body>
</html>