<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Travel Best - trips</title>
  <link rel="shortcut icon" type="image/png" href="imgs/logo/travelbest.png"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/vendor/materialize.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" type="text/css" href="css/trips.css" />
</head>

<body>

  <header th:replace="layout/components :: header"></header>
  <nav th:replace="layout/components :: .user-navbar"></nav>
  <div th:replace="layout/components :: #login"></div>
  <div th:replace="layout/components :: #signup"></div>

  <!-- Buy Now Modal -->
  <div id="buy-now" class="modal">
    <div class="modal-content">
      <img class="responsive-image" />
      <div id="title">
        {{trips[currentCard].title}}
        <b>{{trips[currentCard].price}}$</b></div>
      <p id="description">
        {{trips[currentCard].description}}
      </p>
      <ul class="collapsible" data-collapsible="accordion">
        
        <!-- User Details -->
        <li id="user-details">
          <div class="collapsible-header">
            <i class="material-icons">
              perm_identity
            </i>
            User Details
          </div>
          <div class="collapsible-body">
            
            <!-- First Name -->
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate" />
              <label for="first_name">First Name</label>
            </div>

            <!-- Last Name -->
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="last_name" type="text" class="validate" />
              <label for="last_name">Last Name</label>
            </div>

            <!-- Middle Name -->
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="middle_name" type="text" class="validate" />
              <label for="middle_name">Middle Name</label>
            </div>

          </div>
        </li>

        <!-- Trip Details -->
        <li>
          <div class="collapsible-header">
            <i class="material-icons">
              description
            </i>
            Trip Details
          </div>
          <div class="collapsible-body">
            <ul class="collection with-header">
              
              <!-- Trip Destination -->
              <li class="collection-item">
                <div>
                  Destination
                  <span class="secondary-content">
                    {{trips[currentCard].title}}
                  </span>
                </div>
              </li>
              
              <!-- Trip Price -->
              <li class="collection-item">
                <div>
                  Price
                  <span class="secondary-content">
                    {{trips[currentCard].price}}$
                  </span>
                </div>
              </li>

              <!-- Trip Inssurance Sum -->
              <li class="collection-item">
                <div>
                  Inssurance Sum
                  <span class="secondary-content">
                    {{trips[currentCard].price * 0.1}}$
                  </span>
                </div>
              </li>

              <!-- Trip Tourists -->
              <li class="collection-item">
                <div>
                  Tourists
                  <span class="secondary-content">
                    8/12
                  </span>
                </div>
              </li>

              <!-- Trip Expiration date -->
              <li class="collection-item">
                <div>
                  Expiration date
                  <span class="secondary-content">
                    2016-04-15
                  </span>
                </div>
              </li>

              <!-- Trip Start Date -->
              <li class="collection-item">
                <div>
                  Start Date
                  <span class="secondary-content">
                    2016-04-20
                  </span>
                </div>
              </li>

              <!-- Trip End Date -->
              <li class="collection-item">
                <div>
                  End Date
                  <span class="secondary-content">
                    2016-04-30
                  </span>
                </div>
              </li>

             </ul>
          </div>
        </li>

      </ul>
    </div>
    <div class="modal-footer">
      <div class="input-field col s12 m6">
        <form action="" method="post">
            <select class="icons">
              <option value="" disabled="disabled" selected="selected">Choose Payment System</option>
              <option value="" data-icon="imgs/payment-systems/paypal.png" class="left circle">PayPal</option>
              <option value="" data-icon="imgs/payment-systems/payoneer.png" class="left circle">Payoneer</option>
              <option value="" data-icon="imgs/payment-systems/bank.jpg" class="left circle">Local Bank</option>
              <option value="" data-icon="imgs/payment-systems/cash.jpg" class="left circle">Cash</option>
            </select>
          <p>
            <input type="checkbox" id="agree" />
            <label for="agree">I agree with terms of use</label>
          </p>

          <input ng-click="purchaseSubmit()" type="submit" class="btn green darken-2 waves-effect" value="Buy" />
        </form>

      </div>
    </div>
  </div>

<!-- END MODALS -->


  <div class="container">

    <!-- Routes -->
    <div class="row">
       <div class="col s12 m6 l4" data-th-each="trip : ${trips}">
          <div class="card hoverable">
            
            <div class="card-image">
              <img th:src="${trip.route.image}" />
              <span class="card-title" data-th-text="${trip.route.title}">
                <b data-th-text="${trip.price}"></b>
              </span>
            </div>
            
            <div class="card-content">
              <p data-th-text="${trip.route.description}"></p>
            </div>
            
            <div class="card-action">
              <button data-target="#buy-now" class="btn tooltipped green darken-2 waves-effect"
              data-position="top" data-delay="50" data-tooltip="Buy Now">
                <span class="material-icons">shopping_basket</span>
              </button>
                
              <button class="btn tooltipped green darken-2 waves-effect"
                data-position="top" data-delay="50" data-tooltip="Add to shopping card">
                <span class="material-icons">shop_two</span>
              </button>
          </div>
        </div>
      </div>
    </div>

    <ul class="pagination center">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active green darken-2"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>

  </div>

  <footer th:replace="layout/components :: footer"></footer>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/materialize.js"></script>
  <script src="js/main.js"></script>
  <script src="js/trips.js"></script>
</body>
</html>